.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 320px;
  gap: 0.5rem;

  border: 1px solid #d4d4d4;
  border-radius: 2rem;
  background-color: #fafafa;
}

.error {
  color: red;
  margin-bottom: 0.5rem;
  font-size: 12px;
}
